@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');

html{
  font-size: 10px;
  background: url("../images/Runaway.png") bottom center;
  background-size: cover;
  height: 100%;
}

body html {
  margin: 0;
  padding: 0;
  font-family:'Cormorant Garamond', 'san-serif';
}

.keys {

  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid rgba(0,0,0,0.24); 
  border-radius: .5rem;
  margin: 1rem; 
  font-size: 2rem;
  padding: 1.75rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: crimson;
  background-color: rgba(0, 0, 0, 0.75);
}

.playing{
  transform: scale(1.1);
  border-color: #019c7b;
  box-shadow: #019c7b;
}

kbd{
  display: block;
  font-size: 4rem;
}

.sound{
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #019c7b;
}